.profile_container {
  display: grid;
  grid-template-columns: 320px 1fr;
  justify-content: end;
}

.link {
  text-decoration: none;
  color: white;
}

.link_inactive {
  text-decoration: none;
}

.button_container {
  display: flex;
  justify-content: flex-end;
}

.links_container {
  margin-top: 70%;
}
