.current_order_feed_container {
  display:flex;
  flex-direction: column;
  margin-top: 122px;
  max-width: 640px;
  margin-right:auto;
  margin-left:auto;
}

.price_container {
  display:flex;
  gap:9px;
}

.order_number_container {
  align-self: center;
}

.cards_container {
  display:flex;
  flex-direction: column;
  gap:16px;
  height: 366px;
  overflow-y:scroll;
}

.cards_container::-webkit-scrollbar {
  width: 12px;
}
.cards_container::-webkit-scrollbar-track {
  background: #2f2f37;
}
.cards_container::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585AD;
  border-radius: 6px;
}

.total_container {
  display:flex;
  justify-content: space-between;
}

.done_textcolor {
  color: #00CCCC;
}