.modal__overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 2;
}

.modal__overlay_visible {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 2;
}
